apiVersion: apps/v1
kind: Deployment
metadata:
  name: openresty-proxy
spec:
  replicas: 2
  selector:
    matchLabels:
      app: openresty-proxy
  template:
    metadata:
      labels:
        app: openresty-proxy
    spec:
      containers:
        - name: openresty-proxy
          image: openresty-custom:latest
          imagePullPolicy: Never
          ports:
            - containerPort: 80
              protocol: TCP
          env:
            - name: APP_NAME
              value: flask-app
            - name: DNS_URL
              value: 192.168.0.108 # This is just a hardcoded Consul URL as i havent put it on k8s yet
